*.o
bin/

# executables etc.
c/**/bin/
c/**/build/
c/**/*.o
c/**/*.out
c/**/*.exe
c/**/a.out

cpp/build/
cpp/**/*.o
cpp/**/*.out
cpp/**/*.exe
cpp/**/a.out

# python test stuff
cpp/pybind/venv

# other stuff
*.log
.vscode/